
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    height: 100px;
    
}



.barraNavegacion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;

    

}ul{
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    align-items: center;
}li{
    list-style: none;
}



.container-grid{
    height: 500px;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows:auto-fit ;
}

.box1{
    background-color: darkorange;
}

.box2{
    background-color: rgb(255, 0, 230);
}
.box3{
    background-color: rgb(0, 30, 255);
}
.box4{
    background-color: rgb(0, 255, 26);
}


.social__title{
    
    font-size: 50px;
    text-align: center;
}
.social{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.icons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    width: 400px;
    
}



/* Media queries */

    @media only screen and (max-width: 600px) {
        .container-grid{
            
            display: grid;
            grid-template-columns:1fr 1fr ;
            grid-template-rows:1fr auto-fill ;
        } 


    }

    @media screen and (max-width: 400px) {
        .container-grid{
            
            display: grid;
            grid-template-columns:1fr;
            grid-template-rows:auto-fill ;
        } 


    }
